<p id="notice"><%= notice %></p>

<p>
  <strong>Sfid:</strong>
  <%= @contract.sfid %>
</p>

<p>
  <strong>Contractnumber:</strong>
  <%= @contract.contractnumber %>
</p>
<!--
<p>
  <strong>Accountid:</strong>
  <%= @contract.accountid %>
</p>
-->

<p>
  <strong>Status:</strong>
  <%= @contract.status %>
</p>

<p>
  <strong>Contractterm:</strong>
  <%= @contract.contractterm %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @contract.startdate %>
</p>

<%= link_to 'Edit', edit_contract_path(@contract) %> |
<%= link_to 'Back', contracts_path %>
