<p id="notice"><%= notice %></p>
<h2>Détails</h2>
<!--
<p>
  <strong>Sfid:</strong>
  <%= @contract.sfid %>
</p>
-->

<p>
  <strong>Contractnumber:</strong>
  <%= @contract.contractnumber %>
</p>
<!--
<p>
  <strong>Accountid:</strong>
  <%= @contract.accountid %>
</p>
-->

<p>
  <strong>Status:</strong>
  <%= @contract.status %>
</p>

<p>
  <strong>Contractterm:</strong>
  <%= @contract.contractterm %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @contract.startdate %>
</p>

<p>
  <strong>description:</strong>
  <%= @contract.description %>
</p>
<% if @produits != nil && @produits.size>0 %>
<h3>Options</h3>

<table>
  <thead>
    <tr>
      <th>Name</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody> 
    <% @produits.each do |option| %>
      <tr>
        <td><%= option.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>


<!--
<%= link_to 'Edit', edit_contract_path(@contract) %> 
-->

<%= link_to 'Back', contracts_path %>
