<p id="notice"><%= notice %></p>

<h1>Contacts</h1>

<table>
  <thead>
    <tr>
      <th>Sfid</th>
      <th>Email</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Mobilephone</th>
      <th>Accountid</th>
      <th>Password  c</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.sfid %></td>
        <td><%= contact.email %></td>
        <td><%= contact.firstname %></td>
        <td><%= contact.lastname %></td>
        <td><%= contact.mobilephone %></td>
        <td><%= contact.accountid %></td>
        <td><%= contact.password__c %></td>
        <td><%= link_to 'Show', contact %></td>
        <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
        <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


=begin
<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @contact.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @contact.lastname %>
</p>

<p>
  <strong>Mobilephone:</strong>
  <%= @contact.mobilephone %>
</p>

<p>
  <strong>Accountid:</strong>
  <%= @contact.accountid %>
</p>

<p>
  <strong>Password  c:</strong>
  <%= @contact.password__c %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %>

=end