<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @contact.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @contact.lastname %>
</p>

<p>
  <strong>Mobilephone:</strong>
  <%= @contact.mobilephone %>
</p>

<!--
=begin
<p>
  <strong>Accountid:</strong>
  <%= @contact.accountid %>
</p>
=end
-->
<p>
  <strong>Account Name:</strong>
  <%= @contact.accountname %>
</p>

<p>
  <strong>Password  c:</strong>
  <%= @contact.password__c %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %>
