<p id="notice"><%= notice %></p>

<p>
  <strong>Sfid:</strong>
  <%= @contact.sfid %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @contact.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @contact.lastname %>
</p>

<p>
  <strong>Mobilephone:</strong>
  <%= @contact.mobilephone %>
</p>

<p>
  <strong>Accountid:</strong>
  <%= @contact.accountid %>
</p>

<p>
  <strong>Password  c:</strong>
  <%= @contact.password__c %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
